{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Archive-of-Weeks{% endblock %}</title>
    {% block link %}
        <link rel='stylesheet' href="{% static 'users/login.css' %}">
    {% endblock %}
</head>
<body>
    <div class="main-div">
        {% block content%}
        <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                <div>
                    {{ form.errors }}
                </div>
                <div class='fields'>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class='fields'>
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <div>
                    <button type="submit">submit</button>
                </div>
            </form>
            <div id="reg-div">
                    Don't have an account? <a href="{% url 'register' %}">Register</a>
            </div>


        {% endblock %}
    </div>


</body>
</html>