<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Archive-of-Weeks{% endblock %}</title>
</head>
<body>
    <div>
        {% block content%}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{ form.errors }}
                    {{ form }}
                </div>
                <div>
                    <button type="submit">submit</button>
                </div>
            </form>


        {% endblock %}
    </div>

</body>